<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>GTFS Viewer</title>
  <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/unzip.min.js"></script>
  <style>
    h1 {
      font-size: 22pt;
    }

    h2 {
      font-size: 22pt;
      clear: both;
    }

    h3 {
      font-size: 18pt;
      clear: both;
    }

    #container {
      margin: 0 auto;
      width: 750px;
    }
  </style>
  <script>
    'use strict';

    const gtfsFileList = [
      { name: 'agency', key: 'agency_id' },
      { name: 'agency_jp', key: 'agency_id' },
      { name: 'calendar', key: 'service_id' },
      { name: 'calendar_dates' },
      { name: 'fare_attributes', key: 'fare_id' },
      { name: 'fare_rules', key: 'fare_id' },
      { name: 'feed_info' },
      { name: 'office_jp', key: 'office_id' },
      { name: 'routes', key: 'route_id' },
      { name: 'routes_jp', key: 'route_id' },
      { name: 'shapes', key: 'shape_id' },
      { name: 'stop_times' },
      { name: 'stops', key: 'stop_id' },
      { name: 'translations' },
      { name: 'trips', key: 'trip_id' }
    ];

    var gtfs = {};

    const defaultSortFunc = function (a, b, key, direction = 1, nullsFirst = 1) {
      if (a[key] == undefined && b[key] == undefined) return 0;
      if (a[key] == undefined) return nullsFirst * 1;
      if (b[key] == undefined) return nullsFirst * -1;
      if (a[key] > b[key]) return direction * 1;
      if (a[key] < b[key]) return direction * -1;
      return 0;
    }

    const sortFunc = function (data, keys, direction = 1, nullsFirst = 1) {
      const _data = data.slice();
      _data.sort((a, b) => {
        let order = 0;
        keys.some(key => {
          order = defaultSortFunc(a, b, key, direction = 1, nullsFirst = 1);
          return !!order;
        });
        return order;
      });
      return _data;
    }

    function csv2hash(data, key = undefined) {
      // remove BOM
      if (encodeURIComponent(data.substr(0, 1)) == '%EF%BB%BF') {
        data = data.substr(1);
      }

      var lines = data.split(/\r\n|\r|\n/g);
      if (!key) {
        var json = [];
      } else {
        var json = {};
      }

      var header = lines[0].replace(/['"]/g, '').split(',');

      for (var i = 1; i < lines.length - 1; i++) {
        var a_line = {};
        var csvArray = lines[i].split(',');
        for (var j = 0; j < header.length; j++) {
          var value = csvArray[j].replace(/^['"]/, '').replace(/['"]$/, '');
          if (value.match(/^[0-9]+$/)) {
            value = Number(value);
          }
          a_line[header[j]] = value;
        }

        if (!key) {
          json.push(a_line);
        }
        else {
          json[a_line[key]] = a_line;
        }
      }
      return json;
    }

    function time2sec(time) {
      let time_array = time.split(':');
      return Number(time_array[0]) * 3600 + Number(time_array[1]) * 60 + Number(time_array[2]);
    }

    function loadGtfs(file, vue) {
      var zipReader = new FileReader();
      zipReader.onload = function () {
        try {
          var zipArr = new Uint8Array(zipReader.result);
          var unzip = new Zlib.Unzip(zipArr);
          var importedFileList = unzip.getFilenames();

          for (var i in gtfsFileList) {
            var gtfsFile = gtfsFileList[i].name + '.txt';
            if (!importedFileList.includes(gtfsFile)) {
              continue;
            }
            var data = utf8ArrayToStr(unzip.decompress(gtfsFile));
            var hash = csv2hash(data, gtfsFileList[i].key);

            gtfs[gtfsFileList[i].name] = hash;
          }

          vue.loaded = true;
          vue.agency = gtfs['agency'][0];
          vue.feed_info = gtfs['feed_info'][0];

          if (vue.$route.path != '/') {
            vue.$router.push('/');
          }
        } catch (e) {
          alert(e.message);
        }
      }
      zipReader.readAsArrayBuffer(file);
    }

    function utf8ArrayToStr(array) {
      var len = array.length;
      var out = "";
      var i = 0;
      var char1, char2, char3;

      while (i < len) {
        char1 = array[i++];
        switch (char1 >> 4) {
          case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7:
            out += String.fromCharCode(char1);
            break;
          case 12: case 13:
            char2 = array[i++];
            out += String.fromCharCode(((char1 & 0x1F) << 6) | (char2 & 0x3F));
            break;
          case 14:
            char2 = array[i++];
            char3 = array[i++];
            out += String.fromCharCode(((char1 & 0x0F) << 12) |
              ((char2 & 0x3F) << 6) |
              ((char3 & 0x3F) << 0));
            break;
        }
      }

      return out;
    }
  </script>
</head>

<body>
  <div id="app">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h1 class="my-0 mr-md-auto font-weight-normal">
        <router-link to="/" class="text-dark">GTFS Viewer</router-link>
      </h1>
    </div>
    <div id="container">
      <h2>GTFS File</h2>
      <div style="margin-bottom: 30px;">
        <input type="file" id="file" name="file" accept="application/zip" @change="onFileChange">
      </div>
      <div>
        <h2>Feed Info</h2>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>publisher</th>
              <td>{{ feed_info.feed_publisher_name }}</td>
            </tr>
            <tr>
              <th>url</th>
              <td><a :href="feed_info.feed_publisher_url" target="_blank">{{ feed_info.feed_publisher_url }}</a></td>
            </tr>
            <tr>
              <th>version</th>
              <td>{{ feed_info.feed_version }}</td>
            </tr>
            <tr>
              <th>period</th>
              <td>{{ feed_info.feed_start_date }} ~ {{ feed_info.feed_end_date }}</td>
            </tr>
          </tbody>
        </table>
        <div v-if="this.loaded" style="margin-bottom: 30px;">
          <button type="button" class="btn btn-secondary" v-on:click="router.push('/routes')">Routes</button>
          <button type="button" class="btn btn-secondary" v-on:click="router.push('/stops')">Stops</button>
        </div>
      </div>
      <router-view></router-view>
    </div>
  </div>
  <script type="text/x-template" id="route-list">
    <div>
      <h2>Route List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>short name</th>
            <th>long name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="route in routes">
            <td><router-link :to="{ path: '/routes/' + route.route_short_name }">{{ route.route_short_name }}</router-link></td>
            <td><router-link :to="{ path: '/routes/' + route.route_long_name }">{{ route.route_long_name }}</router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="route-detail">
    <div>
      <h2>Route Detail</h2>
      <div v-for="route in routes">
        <h3><span v-if="route.route_short_name">({{ route.route_short_name }}) </span>{{ route.route_long_name }}</h3>
        <table class="table" style="width: 700px; margin-bottom: 50px; float: right">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th><div class="text-center">Mon</div></th>
              <th><div class="text-center">Tue</div></th>
              <th><div class="text-center">Wed</div></th>
              <th><div class="text-center">Thu</div></th>
              <th><div class="text-center">Fri</div></th>
              <th><div class="text-center">Sat</div></th>
              <th><div class="text-center">Sun</div></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="service in route.services">
              <td>For <router-link :to="{ path: '/routes/' + route.route_id  + '/' + service.service_id }">{{ service.trips[0].trip_headsign }}</router-link></td>
              <td><div class="text-center" v-if="service.monday == '1'">o</div></td>
              <td><div class="text-center" v-if="service.tuesday == '1'">o</div></td>
              <td><div class="text-center" v-if="service.wednesday == '1'">o</div></td>
              <td><div class="text-center" v-if="service.thursday == '1'">o</div></td>
              <td><div class="text-center" v-if="service.friday == '1'">o</div></td>
              <td><div class="text-center" v-if="service.saturday == '1'">o</div></td>
              <td><div class="text-center" v-if="service.sunday == '1'">o</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="route-timetable">
    <div>
      <h2>Route Timetable</h2>
      <h3>Route Detail</h3>
      <table class="table table-striped">
        <tr>
          <th>short name</th>
          <td>{{ route.route_short_name }}</td>
        </tr>
        <tr>
          <th>long name</th>
          <td>{{ route.route_long_name }}</td>
        </tr>
        <tr>
          <th>headsign</th>
          <td>{{ trip_headsign }}</td>
        </tr>
      </table>
      <h3>Schedule</h3>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th><div class="text-center">Mon</div></th>
            <th><div class="text-center">Tue</div></th>
            <th><div class="text-center">Wed</div></th>
            <th><div class="text-center">Thu</div></th>
            <th><div class="text-center">Fri</div></th>
            <th><div class="text-center">Sat</div></th>
            <th><div class="text-center">Sun</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="text-center" v-if="service.monday == '1'">o</div></td>
            <td><div class="text-center" v-if="service.tuesday == '1'">o</div></td>
            <td><div class="text-center" v-if="service.wednesday == '1'">o</div></td>
            <td><div class="text-center" v-if="service.thursday == '1'">o</div></td>
            <td><div class="text-center" v-if="service.friday == '1'">o</div></td>
            <td><div class="text-center" v-if="service.saturday == '1'">o</div></td>
            <td><div class="text-center" v-if="service.sunday == '1'">o</div></td>
          </tr>
        </tbody>
      </table>
      <h3>Timetable</h3>
      <div style="width: 750px; overflow-x: scroll">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th v-for="stop in stops">{{ stop.stop_name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="trip in trips">
              <td style="white-space: nowrap">For {{ trip_headsign }}</td>
              <td v-for="time in trip.stop_times"><span v-if="time">{{ time.arrival_time | trim_sec }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="stop-list">
    <div>
      <h2>Stop List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stop in stops">
            <td><router-link :to="{ path: '/stops/' + stop }">{{ stop }}</router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="stop-detail">
    <div>
      <h2>Stop Detail</h2>
      <div v-for="route in routes">
        <h3>Route Detail</h3>
        <table class="table table-striped">
          <tr>
            <th>short name</th>
            <td>{{ route.route_short_name }}</td>
          </tr>
          <tr>
            <th>long name</th>
            <td>{{ route.route_long_name }}</td>
          </tr>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>headsign</th>
              <th><div class="text-center">Mon</div></th>
              <th><div class="text-center">Tue</div></th>
              <th><div class="text-center">Wed</div></th>
              <th><div class="text-center">Thu</div></th>
              <th><div class="text-center">Fri</div></th>
              <th><div class="text-center">Sat</div></th>
              <th><div class="text-center">Sun</div></th>
              <th>time</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="stop_time in route.stop_times">
              <td><router-link :to="{ path: '/routes/' + stop_time.route_id  + '/' + stop_time.calendar.service_id }">{{ stop_time.trip.trip_headsign }}</router-link></td>
              <td><div class="text-center" v-if="stop_time.calendar.monday == '1'">o</div></td>
              <td><div class="text-center" v-if="stop_time.calendar.tuesday == '1'">o</div></td>
              <td><div class="text-center" v-if="stop_time.calendar.wednesday == '1'">o</div></td>
              <td><div class="text-center" v-if="stop_time.calendar.thursday == '1'">o</div></td>
              <td><div class="text-center" v-if="stop_time.calendar.friday == '1'">o</div></td>
              <td><div class="text-center" v-if="stop_time.calendar.saturday == '1'">o</div></td>
              <td><div class="text-center" v-if="stop_time.calendar.sunday == '1'">o</div></td>
              <td>{{ stop_time.arrival_time | trim_sec }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
  <script>
    Vue.filter('sec2time', function (sec) {
      var hour = parseInt(sec / 3600);
      var min = parseInt((sec % 3600) / 60);
      hour = ('00' + hour).substr(-2, 2);
      min = ('00' + min).substr(-2, 2);
      return hour + ':' + min;
    });

    Vue.filter('trim_sec', function (time) {
      if (typeof time == 'string') {
        time = time.replace(/:\d\d$/, '');
      }
      return time;
    });

    const router = new VueRouter({
      routes: [
        {
          path: '/',
          component: {
            template: '#index',
            data: function () {
              return {
              }
            },
            created: function () {
            }
          }
        },
        {
          path: '/routes',
          component: {
            template: '#route-list',
            data: function () {
              return {
                routes: {}
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                let routes = [];
                let names = [];

                for (let route_id in gtfs.routes) {
                  let route = gtfs.routes[route_id];
                  let name = route.route_short_name + '-' + route.route_long_name;
                  if (names.includes(name)) {
                    continue;
                  }
                  routes.push(route);
                  names.push(name);
                }

                this.routes = routes;
              }
            }
          }
        },
        {
          path: '/routes/:route_name',
          component: {
            template: '#route-detail',
            data: function () {
              return {
                routes: [],
                calendar: {}
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                const route_name = this.$route.params.route_name;

                var routes = [];
                var route_ids = [];
                var route_trips = {};

                for (var key in gtfs.routes) {
                  if (gtfs.routes[key].route_short_name == route_name || gtfs.routes[key].route_long_name == route_name) {
                    var route = gtfs.routes[key];
                    route['services'] = [];
                    routes.push(route);
                    route_ids.push(route.route_id);
                  }
                }

                for (var trip_id in gtfs.trips) {
                  var trip = gtfs.trips[trip_id];
                  if (route_ids.includes(trip['route_id'])) {
                    if (typeof route_trips[trip['route_id']] == 'undefined') {
                      route_trips[trip['route_id']] = {};
                      route_trips[trip['route_id']][trip.service_id] = [];
                    } else {
                      if (typeof route_trips[trip['route_id']][trip.service_id] == 'undefined') {
                        route_trips[trip['route_id']][trip.service_id] = [];
                      }
                    }
                    route_trips[trip['route_id']][trip.service_id].push(trip);
                  }
                }

                for (var route_id in route_trips) {
                  for (var i in routes) {
                    if (routes[i].route_id == route_id) {
                      for (var service_id in route_trips[route_id]) {
                        if (typeof gtfs.calendar[service_id] == 'undefined') {
                          // TODO: refer calendar_dates
                          continue;
                        }
                        routes[i].services.push(Object.assign(
                          { ...gtfs.calendar[service_id] },
                          { trips: route_trips[route_id][service_id] }
                        ));
                      }
                      routes[i].services = sortFunc(routes[i].services, ['sunday', 'saturday', 'monday']);
                      break;
                    }
                  }
                }

                this.routes = sortFunc(routes, ['route_short_name', 'route_long_name']);
                this.calendar = gtfs.calendar;
              }
            }
          }
        },
        {
          path: '/routes/:route_id/:service_id',
          component: {
            template: '#route-timetable',
            data: function () {
              return {
                route: {},
                trip_headsign: '',
                trips: [],
                stops: [],
                stop_times: []
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                const route_id = this.$route.params.route_id;
                const service_id = this.$route.params.service_id;

                let trips = [];
                let trip_ids = [];
                let trip_headsign;
                for (let trip_id in gtfs.trips) {
                  let trip = gtfs.trips[trip_id];
                  if (trip.route_id == route_id && trip.service_id == service_id) {
                    trips.push({ ...trip });
                    trip_ids.push(trip_id);
                    trip_headsign = trip.trip_headsign;
                  }
                }

                let _stop_times = {};
                for (let i in gtfs.stop_times) {
                  let stop_time = gtfs.stop_times[i];
                  if (!trip_ids.includes(stop_time.trip_id)) {
                    continue;
                  }
                  if (typeof _stop_times[stop_time.trip_id] == 'undefined') {
                    _stop_times[stop_time.trip_id] = [];
                  }
                  _stop_times[stop_time.trip_id].push(stop_time);
                }

                let stop_times = [];
                for (let trip_id in _stop_times) {
                  stop_times.push(sortFunc(_stop_times[trip_id], ['stop_sequence']));
                }

                let stops = [];
                let max = 0;
                for (let i in stop_times) {
                  let _stops = [];
                  if (stop_times[i].length > max) {
                    max = stop_times[i].length;
                    for (let j in stop_times[i]) {
                      _stops.push(gtfs.stops[stop_times[i][j].stop_id])
                    }
                    stops = _stops;
                  }
                }

                for (let i in stop_times) {
                  let trip_id = stop_times[i][0]['trip_id'];
                  let departure_time = time2sec(stop_times[i][0]['departure_time']);

                  for (let j in stops) {
                    if (stop_times[i].length <= j) {
                      break;
                    }
                    if (stop_times[i][j].stop_id != stops[j].stop_id) {
                      stop_times[i].splice(j, 0, null);
                    }
                  }
                  if (stop_times[i].length > stops.length) {
                    stop_times[i].splice(stops.length, stop_times[i].length - stops.length);
                  }

                  for (let j in trips) {
                    if (trips[j]['trip_id'] == trip_id) {
                      trips[j]['departure_time'] = departure_time;
                      trips[j]['stop_times'] = stop_times[i];
                      break;
                    }
                  }
                }

                this.route = gtfs.routes[route_id];
                this.trip_headsign = trip_headsign;
                this.service = gtfs.calendar[service_id];
                this.trips = sortFunc(trips, ['departure_time']);
                this.stops = stops;
                this.stop_times = stop_times;
              }
            }
          }
        },
        {
          path: '/stops',
          component: {
            template: '#stop-list',
            data: function () {
              return {
                stops: []
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                var stops = [];
                for (var key in gtfs.stops) {
                  stops.push(gtfs.stops[key].stop_name);
                }
                this.stops = Array.from(new Set(stops));
              }
            }
          }
        },
        {
          path: '/stops/:stop_name',
          component: {
            template: '#stop-detail',
            data: function () {
              return {
                stops: [],
                routes: []
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                const stop_name = this.$route.params.stop_name;

                let stops = [];
                let stop_ids = [];
                for (let key in gtfs.stops) {
                  if (gtfs.stops[key].stop_name == stop_name) {
                    stops.push(gtfs.stops[key]);
                    stop_ids.push(gtfs.stops[key].stop_id);
                  }
                }

                let _routes = {};
                for (let i in gtfs.stop_times) {
                  if (stop_ids.includes(gtfs.stop_times[i].stop_id)) {
                    let stop_time = { ...gtfs.stop_times[i] };
                    let route_id = gtfs.trips[stop_time['trip_id']]['route_id'];

                    if (typeof _routes[route_id] == 'undefined') {
                      _routes[route_id] = { ...gtfs.routes[route_id] }
                      _routes[route_id]['stop_times'] = [];
                    }
                    _routes[route_id]['stop_times'].push(Object.assign(stop_time, {
                      stop: gtfs.stops[stop_time['stop_id']],
                      trip: gtfs.trips[stop_time['trip_id']],
                      route_id: gtfs.trips[stop_time['trip_id']]['route_id'],
                      route: gtfs.routes[gtfs.trips[stop_time['trip_id']]['route_id']],
                      service_id: gtfs.trips[stop_time['trip_id']]['service_id'],
                      calendar: gtfs.calendar[gtfs.trips[stop_time['trip_id']]['service_id']]
                    }));
                  }
                }

                let routes = [];
                for (let route_id in _routes) {
                  routes.push(_routes[route_id]);
                }

                this.stops = stops;
                this.routes = routes;
              }
            }
          }
        }
      ]
    });

    new Vue({
      router: router,
      el: '#app',
      data: {
        loaded: false,
        feed_info: {},
        agency: {},
      },
      created: function () {
        if (this.$route.path != '/' && Object.keys(gtfs).length == 0) {
          router.push('/');
          return;
        }
      },
      methods: {
        onFileChange(e) {
          const files = e.target.files || e.dataTransfer.files;
          loadGtfs(files[0], this);
        }
      },
      watch: {
        '$route': function (to, from) {
          if (to.path != '/' && Object.keys(gtfs).length == 0) {
            router.push('/');
            return;
          }
        }
      }
    });
  </script>
</body>

</html>