<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>GTFS Viewer</title>
  <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/unzip.min.js"></script>
  <style>
    h1 {
      font-size: 22pt;
    }

    h2 {
      font-size: 22pt;
      clear: both;
    }

    h3 {
      font-size: 18pt;
      clear: both;
    }

    #container {
      margin: 0 auto;
      width: 750px;
    }
  </style>
  <script>
    const gtfsFileList = [
      { name: 'agency', key: 'agency_id' },
      { name: 'agency_jp', key: 'agency_id' },
      { name: 'calendar', key: 'service_id' },
      { name: 'calendar_dates' },
      { name: 'fare_attributes', key: 'fare_id' },
      { name: 'fare_rules', key: 'fare_id' },
      { name: 'feed_info' },
      { name: 'office_jp', key: 'office_id' },
      { name: 'routes', key: 'route_id' },
      { name: 'routes_jp', key: 'route_id' },
      { name: 'shapes', key: 'shape_id' },
      { name: 'stop_times' },
      { name: 'stops', key: 'stop_id' },
      { name: 'translations' },
      { name: 'trips' }
    ];

    var gtfs = {};

    function csv2hash(data, key = undefined) {
      // remove BOM
      if (encodeURIComponent(data.substr(0, 1)) == '%EF%BB%BF') {
        data = data.substr(1);
      }

      var lines = data.split(/\r\n|\r|\n/g);
      if (!key) {
        var json = [];
      } else {
        var json = {};
      }

      var header = lines[0].replace(/['"]/g, '').split(',');

      for (var i = 1; i < lines.length - 1; i++) {
        var a_line = {};
        var csvArray = lines[i].split(',');
        for (var j = 0; j < header.length; j++) {
          a_line[header[j]] = csvArray[j].replace(/^['"]/, '').replace(/['"]$/, '');
        }

        if (!key) {
          json.push(a_line);
        }
        else {
          json[a_line[key]] = a_line;
        }
      }
      return json;
    }

    function loadGtfs(file, vue) {
      var zipReader = new FileReader();
      zipReader.onload = function () {
        try {
          var zipArr = new Uint8Array(zipReader.result);
          var unzip = new Zlib.Unzip(zipArr);
          var importedFileList = unzip.getFilenames();

          for (var i in gtfsFileList) {
            var gtfsFile = gtfsFileList[i].name + '.txt';
            if (!importedFileList.includes(gtfsFile)) {
              continue;
            }
            var data = utf8ArrayToStr(unzip.decompress(gtfsFile));
            var hash = csv2hash(data, gtfsFileList[i].key);

            gtfs[gtfsFileList[i].name] = hash;
          }

          vue.$store.loaded = true;
          vue.agency = gtfs['agency'][0];
          vue.feed_info = gtfs['feed_info'][0];

          if (vue.$route.path != '/') {
            vue.$router.push('/');
          }
        } catch (e) {
          alert(e.message);
        }
      }
      res = zipReader.readAsArrayBuffer(file);
    }

    function utf8ArrayToStr(array) {
      var len = array.length;
      var out = "";
      var i = 0;
      var char1, char2, char3;

      while (i < len) {
        char1 = array[i++];
        switch (char1 >> 4) {
          case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7:
            out += String.fromCharCode(char1);
            break;
          case 12: case 13:
            char2 = array[i++];
            out += String.fromCharCode(((char1 & 0x1F) << 6) | (char2 & 0x3F));
            break;
          case 14:
            char2 = array[i++];
            char3 = array[i++];
            out += String.fromCharCode(((char1 & 0x0F) << 12) |
              ((char2 & 0x3F) << 6) |
              ((char3 & 0x3F) << 0));
            break;
        }
      }

      return out;
    }
  </script>
</head>

<body>
  <div id="app">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h1 class="my-0 mr-md-auto font-weight-normal">
        <router-link to="/" class="text-dark">GTFS Viewer</router-link>
      </h1>
    </div>
    <div id="container">
      <h2>GTFS File</h2>
      <div style="margin-bottom: 30px;">
        <input type="file" id="file" name="file" accept="application/zip" @change="onFileChange">
      </div>
      <div>
        <h2>Feed Info</h2>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>publisher</th>
              <td>{{ feed_info.feed_publisher_name }}</td>
            </tr>
            <tr>
              <th>url</th>
              <td><a :href="feed_info.feed_publisher_url" target="_blank">{{ feed_info.feed_publisher_url }}</a></td>
            </tr>
            <tr>
              <th>version</th>
              <td>{{ feed_info.feed_version }}</td>
            </tr>
            <tr>
              <th>period</th>
              <td>{{ feed_info.feed_start_date }} ~ {{ feed_info.feed_end_date }}</td>
            </tr>
          </tbody>
        </table>
        <div v-if="this.$store.loaded" style="margin-bottom: 30px;">
          <button type="button" class="btn btn-secondary" v-on:click="router.push('/routes')">Routes</button>
          <button type="button" class="btn btn-secondary" v-on:click="router.push('/stops')">Stops</button>
        </div>
      </div>
      <router-view></router-view>
    </div>
  </div>
  <script type="text/x-template" id="route-list">
    <div>
      <h2>Route List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>short name</th>
            <th>long name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="route in routes">
            <td><router-link :to="{ path: '/routes/' + route.route_short_name }">{{ route.route_short_name }}</router-link></td>
            <td><router-link :to="{ path: '/routes/' + route.route_long_name }">{{ route.route_long_name }}</router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="route-detail">
    <div>
      <h2>Route Detail</h2>
      <div v-for="route in routes">
        <h3><span v-if="route.route_short_name">({{ route.route_short_name }}) </span>{{ route.route_long_name }}</h3>
        <table class="table" style="width: 700px; float: right">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th><div class="text-center">Mon</div></th>
              <th><div class="text-center">Tue</div></th>
              <th><div class="text-center">Wed</div></th>
              <th><div class="text-center">Thu</div></th>
              <th><div class="text-center">Fri</div></th>
              <th><div class="text-center">Sat</div></th>
              <th><div class="text-center">Sun</div></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(trips, service_id) in route.service_ids">
              <td><router-link :to="{ path: '/routes/' + route.route_id  + '/' + service_id }">{{ service_id }}</router-link></td>
              <td><div class="text-center" v-if="calendar[service_id].monday == '1'">o</div></td>
              <td><div class="text-center" v-if="calendar[service_id].tuesday == '1'">o</div></td>
              <td><div class="text-center" v-if="calendar[service_id].wednesday == '1'">o</div></td>
              <td><div class="text-center" v-if="calendar[service_id].thursday == '1'">o</div></td>
              <td><div class="text-center" v-if="calendar[service_id].friday == '1'">o</div></td>
              <td><div class="text-center" v-if="calendar[service_id].saturday == '1'">o</div></td>
              <td><div class="text-center" v-if="calendar[service_id].sunday == '1'">o</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="stop-list">
    <div>
      <h2>Stop List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stop in stops">
            <td><router-link :to="{ path: '/stops/' + stop }">{{ stop }}</router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="stop-detail">
    <div>
      <h2>Stop Detail</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stop in stops">
            <td><router-link :to="{ path: '/stops/' + stop }">{{ stop }}</router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script>
    Vue.filter('sec2time', function (sec) {
      var hour = parseInt(sec / 3600);
      var min = parseInt((sec % 3600) / 60);
      hour = ('00' + hour).substr(-2, 2);
      min = ('00' + min).substr(-2, 2);
      return hour + ':' + min;
    });

    const store = new Vuex.Store({
    })

    const router = new VueRouter({
      routes: [
        {
          path: '/',
          component: {
            template: '#index',
            data: function () {
              return {
              }
            },
            created: function () {
            }
          }
        },
        {
          path: '/routes',
          component: {
            template: '#route-list',
            data: function () {
              return {
                routes: {}
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                if (!this.$store.loaded) {
                  router.push('/');
                  return;
                }

                this.routes = gtfs.routes;
              }
            }
          }
        },
        {
          path: '/routes/:route_name',
          component: {
            template: '#route-detail',
            data: function () {
              return {
                routes: {},
                calendar: {}
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                if (!this.$store.loaded) {
                  router.push('/');
                  return;
                }

                const route_name = this.$route.params.route_name;

                console.log('route_name', route_name);

                var routes = {};
                for (var key in gtfs.routes) {
                  if (gtfs.routes[key].route_short_name == route_name || gtfs.routes[key].route_long_name == route_name) {
                    routes[key] = gtfs.routes[key];
                    routes[key].trips = [];
                    routes[key].service_ids = {};
                  }
                }

                for (var i in gtfs.trips) {
                  var trip = gtfs.trips[i];
                  if (typeof routes[trip['route_id']] !== 'undefined') {
                    routes[trip['route_id']].trips.push(trip);

                    if (typeof routes[trip['route_id']]['service_ids'][trip.service_id] === 'undefined') {
                      routes[trip['route_id']]['service_ids'][trip.service_id] = [trip];
                    }
                    else {
                      routes[trip['route_id']]['service_ids'][trip.service_id].push(trip);
                    }
                  }
                }

                this.routes = routes;
                this.calendar = gtfs.calendar;
                console.log('routes', routes);
              }
            }
          }
        },
        {
          path: '/stops',
          component: {
            template: '#stop-list',
            data: function () {
              return {
                stops: []
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                if (!this.$store.loaded) {
                  router.push('/');
                  return;
                }

                var stops = [];
                for (var key in gtfs.stops) {
                  stops.push(gtfs.stops[key].stop_name);
                }
                this.stops = Array.from(new Set(stops));
              }
            }
          }
        },
        {
          path: '/stops/:stop_name',
          component: {
            template: '#stop-detail',
            data: function () {
              return {
                stops: []
              }
            },
            created: function () {
              this.init();
            },
            methods: {
              init() {
                if (!this.$store.loaded) {
                  router.push('/');
                  return;
                }

                const stop_name = this.$route.params.stop_name;

                var stops = [];
                for (var key in gtfs.stops) {
                  if (gtfs.stops[key].stop_name == stop_name) {
                    stops.push(gtfs.stops[key]);
                  }
                }
                this.stops = stops;
                console.log(stops);
              }
            }
          }
        }
      ]
    });

    new Vue({
      router: router,
      el: '#app',
      store,
      data: {
        loaded: false,
        feed_info: {},
        agency: {},
      },
      created: function () {
      },
      methods: {
        onFileChange(e) {
          const files = e.target.files || e.dataTransfer.files;
          loadGtfs(files[0], this);
        }
      }
    });
  </script>
</body>

</html>